body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    min-height:100vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #ac2020;
    padding: 5px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #3a3838;
    padding: 10px;
}

p {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    padding: 10px;
    margin: 20px;
}

small {
    font-size: 0.8em;
}

img {
    max-width: 100%;
    cursor: pointer;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.25);
}

img:hover {
    opacity: 0.8;
}

.grid-container {
    background-color: #3a3838;
    display: grid;
    padding: 50px;
    gap: 50px;
    border-radius: 50px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    justify-content: center;
    align-items: end;

    width: calc(100% - 50px);
    height: calc(100% - 50px);
    margin: 25px;

    background-color: rgba(255, 255, 255, 0.945);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
}
  
.show {
    opacity: 1;
    visibility: visible;
    position: absolute;
    background: no-repeat;
    background-position-x: center;
    transition: opacity 1s;
}


@media screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: auto auto auto auto;
    }
}